<% order = order_form.object %>
<%= render 'spree/shared/error_messages', target: order %>
<table id="cart-detail" data-hook class="table table-borderless table-centered mb-0">
    <thead class="thead-light">
        <tr data-hook="cart_items_headers">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th style="width: 50px;"></th>
        </tr>
    </thead>
    <tbody id="line_items" data-hook>
      <%= render partial: 'spree/orders/line_item', collection: order.line_items, locals: { order_form: order_form } %>
    </tbody>
</table>
