/*********************************
* Slideshow Styling
*********************************/
#slideshow {
	width: 100%;
	height: 100%;
	margin: 100px auto;

    position:relative;

    overflow: hidden;
}
#slideshow.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.img-wrapper {
    min-width: 100%;
    min-height: 100%;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index:8;
    background-color: #f9f7f7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
	#slideshow .img-wrapper.active {
	    z-index:10;
	}

	#slideshow .img-wrapper.last-active {
	    z-index:9;
	}

/*********************************
* Thumbnail Styling
*********************************/
.thumbs-container {
	width: 100%;
	height: 90px;
	position: absolute;
	left: 0;
	z-index: 11;
	background: #f3f3f3;
}
	.thumbs-container.top {
		top: 0;
	}
	.thumbs-container.bottom {
		bottom: 0;
	}
	.prev, .next {
		width: 3%;
		min-width: 30px;
		height: 48px;
		padding: 36px 0%;

		color: #999999;
		cursor: pointer;
	}
	.prev { float: left; }
	.next { float: right; }
		.prev:hover, .next:hover {
			color: #555555;
		}
	ul.thumbs {
		position: absolute;
		top: 0;
		left: 2%;
		right: 2%;
		height: 140px;
		padding: 0;
		margin: 0 5%;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
	}
		.thumb {
			display: inline-block;
			width: 80px;
			height: 80px;
			margin: 5px 5px;
			border: 2px solid #ccc;
			overflow: hidden;
			background-size: cover;
    		background-position: center center;

    		cursor: pointer;
		}
			.thumb:first-of-type {
				margin-left: 0px;
			}
		.thumb.active {
			width: 80px;
			height: 80px;
			border: 2px solid #fff;
		}
		.item-modal{
			min-height:535px;
			max-height: 580px;
			overflow-y: auto;
		}
