/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require toastr
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
	background:#111;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	padding:0px;
	color:#fff;
	font-size:14px !important;
}
html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  display:none;
}

.count-particles{
  border-radius: 0 0 3px 3px;
  display:none;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:0;
  background-color: #34363a;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.input-box input[type="email"], .input-box input[type="password"]{
	background:#fff;
	border:none;
	height:40px;
	border-radius:2px;
	width:100%;
	color:#333;
}
.login-page-wrapper {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.home-logo{
	width:40px;
	margin:20px;
	display:inline-block;
	position:absolute;
	z-index:1;
}
.home-nav ul li a{
	color:#fff;
}
.home-nav ul li.help{
	padding:15px;
	line-height:20px;
}
.login-footer-links a{
	color:#fff;
	text-decoration:none;
}
.login-container h3{
	text-align:center;
	font-size:33px;
	margin-top:0px;
	font-weight:600;
}
.login-container{
	margin-top:100px;
}
.continue-btn{
	background:#e42867;
	border:none;
	height:42px;
	border-radius:2px;
	width:100%;
	font-size:16px;
}
.price .best_in_place input{
  width:50px !important;
}
