<nav id="top-nav-bar" class="col-5">
  <ul id="nav-bar" class="inline" data-hook>
    <%#= render 'spree/shared/locale_selector' %>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>
