<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <title>Sellist</title>
    <style>
        .bodyContent{
            background-color:#32c5ef;
        }
        .bodyContent img{
            height:240px;
            width:120px;
            padding-top: 67px;
            padding-bottom: 24px;
        }
        .bodyContent1{
            background-color:#36a6d7;
        }
        .bodyContent1 p{
            font-size:15px;
            padding-left:75px;
            font-family: 'Roboto', sans-serif;
            margin-top:10px;
            margin-bottom:10px;
        }
        #bodyTable2{
            background-color:#f1f1f2;
        }
        .bodyContent2 h2{
            font-size:24px;
            padding-left:90px;
            margin-bottom:15px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent3{
            padding-bottom:0px;
        }
        .bodyContent3 p{
            font-size:16px;
            padding-left:90px;
            margin-top:10px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent4{
            padding-top:15px;
            padding-bottom:15px;
        }
        .bodyContent4 h4{
            font-size:16px;
            padding-left:100px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent5 h4{
            font-size:16px;
            padding-left:100px;
            margin-bottom:0px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent5 p{
            font-size:16px;
            margin-top:0px;
            padding-left:100px;
            padding-right:100px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent6 p{
            font-size:16px;
            margin-top:30px;
            padding-left:100px;
            padding-right:100px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
        .bodyContent7 p{
            font-size:16px;
            padding-left:100px;
            padding-right:100px;
            margin-top:120px;
            font-family: 'Roboto', sans-serif;
            color:#231f20;
        }
    </style>
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <%= yield %>
  </body>
</html>
